---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import buidlingWebsitesImage from '../images/undraw_building_websites_i78t.svg'
import listIcon from '../images/icons8-brightness-24.png'
---

<BaseLayout title='StronaFirmy.pl | Homepage'>
  <div class='headline'>
    <div class='headline-text'>
      <h1 class='main-text'>Strona internetowa dla Twojej firmy</h1>
      <p class='secondary-text'>
        Projektujemy, budujemy i utrzymujemy przejrzyste i estetyczne strony
        internetowe, które pomogą Ci zdobyć i utrzymać więcej klientów — a
        wszystko to za jedną stałą miesięczną stawkę.
      </p>
    </div>
    <div class='headline-content'>
      <div class='headline-card'>
        <p class='card-title'>Unikalny projekt</p>
        <p class='card-content'>
          Wykonamy indywidualny projekt strony dostosowany do oczekiwań Twojej
          grupy docelowej, dzięki czemu wyróżnisz się na tle konkurencji.
        </p>
      </div>
      <div class='headline-card'>
        <p class='card-title'>Bezpieczeństwo</p>
        <p class='card-content'>
          W ramach usługi zapewniamy bezpieczny web hosting, certyfikat SSL oraz
          stałą opiekę nad stroną i niezbędne aktualizacje.
        </p>
      </div>
      <div class='headline-card'>
        <p class='card-title'>Optymalizacja</p>
        <p class='card-content'>
          70% ruchu w Internecie odbywa się na urządzeniach mobilnych*, dlatego
          zadbamy o to, żeby Twoja strona wyglądała świetnie i ładowała się
          szybko na smartfonach.
        </p>
        <p class='footnote'>
          * Źródło: <a
            href='https://gs.statcounter.com/platform-market-share/desktop-mobile/poland/'
            >StatCounter</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class='site'>
    <div class='site-image'>
      <Image src={buidlingWebsitesImage} alt='Website Builder' />
    </div>
    <div class='site-text'>
      <div class='site-main-text'>Create Personalized Websites With Us!</div>
      <div class='site-secondary-text'>
        Want to work with us but still unsure? Let us convince you with our bla
        bla bla.
      </div>
      <div class='site-features'>
        <ul>
          <li>
            <Image src={listIcon} alt='Bla' />
            <p>Powyżej 5 stron</p>
          </li>
          <li>
            <Image src={listIcon} alt='Bla' />
            <p>Indywidualny projekt</p>
          </li>
          <li>
            <Image src={listIcon} alt='Bla' />
            <p>CMS (blog, galeria, itp.)</p>
          </li>
          <li>
            <Image src={listIcon} alt='Bla' />
            <p>Copywriting</p>
          </li>
          <li>
            <Image src={listIcon} alt='Bla' />
            <p>Założenie Profilu Firmy w Google</p>
          </li>
          <li>
            <Image src={listIcon} alt='Bla' />
            <p>Faktura VAT</p>
          </li>
        </ul>
      </div>
      <button class='site-button button-style'> Request Quotation </button>
    </div>
  </div>
  <div class='section'>
    <h2 class='section-header'>Nasi Partnerzy</h2>
    <a href='https://www.tawk.to/?pid=f5bzmbn' target='_blank'
      ><Image
        src='https://partners.tawk.to/badges/partner.svg'
        width='150'
        height='120'
        alt='Tawk.to Partner Badge'
      /></a
    >
  </div>
</BaseLayout>
