---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import buidlingWebsitesImage from '../images/undraw_building_websites_i78t.svg'
import listIcon from '../images/icons8-brightness-24.png'
import reviewImage from '../images/review.png'
---

<BaseLayout title='StronaFirmy.pl | Homepage'>
  <div class='headline'>
    <div class='headline-text'>
      <h1 class='main-text'>Strona internetowa dla Twojej firmy</h1>
      <p class='secondary-text'>
        Projektujemy, budujemy i utrzymujemy przejrzyste i estetyczne strony
        internetowe, które pomogą Ci zdobyć i utrzymać więcej klientów — a
        wszystko to za jedną stałą miesięczną stawkę.
      </p>
    </div>
    <a href='/contact'
      ><button class='button-style'>Poproś o darmową wycenę</button></a
    >
    <section class='headline-content'>
      <div class='headline-card'>
        <p class='card-title'>Unikalny projekt</p>
        <p class='card-content'>
          Wykonamy indywidualny projekt strony dostosowany do oczekiwań Twojej
          grupy docelowej, dzięki czemu wyróżnisz się na tle konkurencji.
        </p>
      </div>
      <div class='headline-card'>
        <p class='card-title'>Bezpieczeństwo</p>
        <p class='card-content'>
          W ramach usługi zapewniamy bezpieczny web hosting, certyfikat SSL oraz
          stałą opiekę nad stroną i niezbędne aktualizacje.
        </p>
      </div>
      <div class='headline-card'>
        <p class='card-title'>Optymalizacja</p>
        <p class='card-content'>
          Około 70% ruchu w Internecie odbywa się na urządzeniach mobilnych*,
          dlatego zadbamy o to, żeby Twoja strona wyglądała świetnie i ładowała
          się szybko na smartfonach.
        </p>
        <p class='footnote'>
          * Źródło: <a
            href='https://gs.statcounter.com/platform-market-share/desktop-mobile/poland/'
            >StatCounter</a
          >
        </p>
      </div>
    </section>
  </div>
  <section class='site'>
    <div class='site-image'>
      <Image src={buidlingWebsitesImage} alt='Website Builder' />
    </div>
    <div class='site-text'>
      <h2 class='site-main-text'>Dlaczego my?</h2>
      <div class='site-secondary-text'></div>
      <div class='site-features'>
        <ul>
          <li>
            <Image src={listIcon} alt='' />
            <p>
              Nasze strony są kodowane ręcznie, dzięki czemu są szybkie,
              responsywne i przyjazne wyszukiwarkom internetowym
            </p>
          </li>
          <li>
            <Image src={listIcon} alt='' />
            <p>Bezpieczny hosting i certyfikat SSL wliczone w cenę</p>
          </li>
          <li>
            <Image src={listIcon} alt='' />
            <p>
              Dbamy o to, aby tworzone przez nas strony były dostosowane do
              potrzeb osób niepełnosprawnych
            </p>
          </li>
          <li>
            <Image src={listIcon} alt='' />
            <p>
              Nie umieszczamy na naszych stronach ciasteczek, które naruszają
              prywatność Twoich klientów
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class='section'>
    <h2 class='section-header'>Jak wygląda współpraca z nami?</h2>
    <p class='secondary-text'>
      Wiemy, że jako przedsiębiorca masz dużo na głowie, dlatego oferujemy
      bardzo prosty proces. W przeciwieństwie do typowego projektanta nie
      pozostawimy Cię samego lub samej z gotową stroną po zakończeniu projektu.
      Na każdym etapie wszystkim albo zajmiemy się sami, albo doradzimy, tak
      abyś mógł lub mogła skupić się na rozwijaniu swojego biznesu.
    </p>
    <p class='secondary-text'>
      Nasz proces składa się z 4 prostych kroków:
      <ol>
        <li>Zbieramy od Ciebie wszystkie potrzebne informacje</li>
        <li>Budujemy stronę dopasowaną do Twoich potrzeb</li>
        <li>Zatwierdzasz projekt</li>
        <li>
          Opiekujemy się Twoją stroną tak długo, jak długo z nami pozostajesz
          (mamy nadzieję, że na zawsze!)
        </li>
      </ol>
    </p>
  </section>
  <section class='section'>
    <h2 class='section-header'>Co jeszcze możemy dla Ciebie zrobić?</h2>
    <p class='secondary-text'>
      <ul>
        <li>
          Nie masz własnej domeny internetowej? Zajmiemy się jej rejestracją!
        </li>
        <li>Założenie profilu Google Moja Firma</li>
        <li>
          Przygotowanie i wymagane prawnie aktualizacje Polityki Prywatności i
          Polityki Plików Cookie
        </li>
        <li>
          Zgłoszenie i monitorowanie pozycji witryny w wynikach wyszukiwania
          Google
        </li>
        <li>Integracja dodatkowej funcjonalności, np. czatu na żywo</li>
      </ul>
    </p>
  </section>
  <section class='section'>
    <h2 class='section-header'>Nasi Partnerzy</h2>
    <a href='https://www.tawk.to/?pid=f5bzmbn' target='_blank'
      ><Image
        src='https://partners.tawk.to/badges/partner.svg'
        width='150'
        height='120'
        alt='Tawk.to Partner Badge'
      /></a
    >
  </section>
  <section class='section'>
    <h2 class='section-header'>Co mówią o nas nasi Klienci?</h2>
    <div class='section-content'>
      <Image src={reviewImage} alt='Review' width={300} />
      <Image src={reviewImage} alt='Review' width={300} />
      <Image src={reviewImage} alt='Review' width={300} />
    </div>
  </section>
  <section class='section'>
    <p class='secondary-text'>Napisz do nas, a my odezwiemy się do Ciebie!</p>
    <a href='/kontakt'
      ><button class='button-style'>Poproś o darmową wycenę</button></a
    >
  </section>
</BaseLayout>
