---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import buidlingWebsitesImage from '../images/undraw_building_websites_i78t.svg'
import reviewImage from '../images/review.png'
import domainImage from '../images/icons8-domain-48.png'
import myBusinessImage from '../images/icons8-my-business-48.png'
import googleImage from '../images/icons8-google-48.png'
import privacyPolicyImage from '../images/icons8-privacy-policy-48.png'
import functionImage from '../images/icons8-function-48.png'
import Steps from '../components/Steps.astro'
import Service from '../components/Service.astro'
---

<BaseLayout title='StronaFirmy.pl | Homepage'>
  <div class='headline'>
    <div class='headline-text'>
      <h1 class='main-text'>Strona internetowa dla Twojej firmy</h1>
      <p class='secondary-text'>
        Projektujemy, budujemy i utrzymujemy przejrzyste i estetyczne strony
        internetowe, które pomogą Ci zdobyć i utrzymać więcej klientów — a
        wszystko to za jedną stałą miesięczną stawkę.
      </p>
    </div>
    <a href='/contact'
      ><button class='button-style'>Poproś o darmową wycenę</button></a
    >
    <section class='headline-content'>
      <div class='headline-card'>
        <p class='card-title'>Unikalny projekt</p>
        <p class='card-content'>
          Wykonamy indywidualny projekt strony dostosowany do oczekiwań Twojej
          grupy docelowej, dzięki czemu wyróżnisz się na tle konkurencji.
        </p>
      </div>
      <div class='headline-card'>
        <p class='card-title'>Bezpieczeństwo</p>
        <p class='card-content'>
          W ramach usługi zapewniamy bezpieczny web hosting, certyfikat SSL oraz
          stałą opiekę nad stroną i niezbędne aktualizacje.
        </p>
      </div>
      <div class='headline-card'>
        <p class='card-title'>Optymalizacja</p>
        <p class='card-content'>
          Około 70% ruchu w Internecie odbywa się na urządzeniach mobilnych*,
          dlatego zadbamy o to, żeby Twoja strona wyglądała świetnie i ładowała
          się szybko na smartfonach.
        </p>
        <p class='footnote'>
          * Źródło: <a
            href='https://gs.statcounter.com/platform-market-share/desktop-mobile/poland/'
            >StatCounter</a
          >
        </p>
      </div>
    </section>
  </div>
  <section class='site'>
    <div class='site-image'>
      <Image src={buidlingWebsitesImage} alt='Website Builder' />
    </div>
    <div class='site-text'>
      <h2 class='site-main-text'>Dlaczego my?</h2>
      <div class='site-secondary-text'></div>
      <div class='site-features'>
        <ul>
          <li>
            <Icon name='icons8-tick' size={32} class='site-feature-icon' />
            <p>
              Nasze strony są kodowane ręcznie, dzięki czemu są szybkie,
              responsywne i zoptymalizowane pod kątem wyszukiwarek.
            </p>
          </li>
          <li>
            <Icon name='icons8-tick' size={32} class='site-feature-icon' />
            <p>
              Dbamy o to, aby tworzone przez nas strony były dostosowane do
              potrzeb osób niepełnosprawnych i zgodne z wytycznymi dla
              dostępności treści internetowych (WCAG 2.1).
            </p>
          </li>
          <li>
            <Icon name='icons8-tick' size={32} class='site-feature-icon' />
            <p>
              Przykładamy dużą uwagę do ochrony prywatności Twoich klientów oraz
              do tego aby Twoja stona była zgodna z RODO (GDPR).
            </p>
          </li>
          <li>
            <Icon name='icons8-tick' size={32} class='site-feature-icon' />
            <p>Bezpieczny hosting i certyfikat SSL wliczone w cenę.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class='section'>
    <h2 class='section-header'>Jak wygląda współpraca z nami?</h2>
    <p class='secondary-text'>
      Wiemy, że jako przedsiębiorca masz dużo na głowie, dlatego oferujemy
      bardzo prosty proces. W przeciwieństwie do typowego projektanta nie
      pozostawimy Cię samego lub samej z gotową stroną po zakończeniu projektu.
      Na każdym etapie wszystkim albo zajmiemy się sami, albo doradzimy, tak
      abyś mógł lub mogła skupić się na rozwijaniu swojego biznesu. Nasz proces
      składa się z 4 prostych kroków:
    </p>
  </section>
  <Steps />

  <section class='section'>
    <h2 class='section-header'>Co jeszcze możemy dla Ciebie zrobić?</h2>
    <p class='secondary-text'>
      <ul class='flex-container'>
        <Service
          imgSrc={domainImage}
          imgAlt='Ikona domeny internetowej'
          text='Nie masz własnej domeny internetowej? Zajmiemy się jej rejestracją!'
        />
        <Service
          imgSrc={myBusinessImage}
          imgAlt='Ikona Google Moja Firma'
          text='Założenie profilu Google Moja Firma'
        />
        <Service
          imgSrc={privacyPolicyImage}
          imgAlt='Ikona polityki prywatności'
          text={`Przygotowanie i wymagane prawnie aktualizacje Polityki Prywatności i
          Polityki Plików Cookie`}
          href='/iubenda-partner'
        />
        <Service
          imgSrc={googleImage}
          imgAlt='Logo Google'
          text={`Zgłoszenie i monitorowanie pozycji witryny w wynikach wyszukiwania
        Google`}
        />
        <Service
          imgSrc={functionImage}
          imgAlt='Ikona kół zębatych'
          ]
          text='Integracja dodatkowej funcjonalności, np. czatu na żywo'
        />
      </ul>
    </p>
  </section>
  <section class='section'>
    <h2 class='section-header'>Nasi Partnerzy</h2>
    <div class='flex-container'>
      <a href='https://www.tawk.to/?pid=f5bzmbn' target='_blank'
        ><Image
          src='https://partners.tawk.to/badges/partner.svg'
          width='150'
          height='120'
          alt='Tawk.to Partner Badge'
        /></a
      >
      <!-- iubenda Certified Partner Badge - Large -->
      <a href='/iubenda-partner' title='iubenda Certified Bronze Partner'
        ><Image
          src='https://www.iubenda.com/partner/bronze@2x.png'
          alt='iubenda Certified Bronze Partner'
          width='306'
          height='108'
        /></a
      >
    </div>
  </section>
  <section class='section'>
    <h2 class='section-header' id='portfolio'>Wybrane realizacje</h2>
  </section>
  <section class='section'>
    <h2 class='section-header'>Co mówią o nas nasi Klienci?</h2>
    <div class='section-content'>
      <Image src={reviewImage} alt='Review' width={300} />
      <Image src={reviewImage} alt='Review' width={300} />
      <Image src={reviewImage} alt='Review' width={300} />
    </div>
  </section>
  <section class='section'>
    <p class='secondary-text'>Napisz do nas, a my odezwiemy się do Ciebie!</p>
    <a href='/kontakt'
      ><button class='button-style'>Poproś o darmową wycenę</button></a
    >
  </section>
</BaseLayout>
