---
import { Image } from 'astro:assets'
import scheduleIcon from '../images/icons8-schedule-50.png'
import authorIcon from '../images/icons8-author-32.png'

const { article } = Astro.props
---

<div class='blog-section'>
  <div class='blog-img'>
    {
      article.image && (
        <>
          <a href={`/blog/${article.slug}`}>
            <img
              class='object-cover object-center w-full lg:h-48 md:h-36 rounded'
              src={`${article.image.filename}/m/360x240`}
              alt={article.image.alt}
            />
          </a>
          <p class='blog-img-credit'>Photo by Alex Ivashenko on Unsplash</p>
        </>
      )
    }
  </div>
  <div class='blog-text'>
    <div class='blog-details'>
      <div class='blog-date-icon'>
        <Image class='blog-icon' src={scheduleIcon} alt='Schedule icon' />
      </div>
      <div class='blog-date'>April 25, 2024</div>
      <div class='blog-author-icon'>
        <Image class='blog-icon' src={authorIcon} alt='Author icon' />
      </div>
      <div class='blog-author'>Mona Naamani</div>
    </div>
    <div class='blog-title'>
      <a href={`/blog/${article.slug}`}>
        {article.title}
      </a>
    </div>
    <div class='blog-description'>
      {article.teaser}
    </div>
    <div class='tags'>
      <button class='tag-button'> Depression </button>
      <button class='tag-button'> Mental Health </button>
    </div>
  </div>
</div>
