---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

const { post, index } = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif}'
)
if (!images[post.frontmatter.image.url])
  throw new Error(
    `"${post.frontmatter.image.url}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  )
---

<li class='blog-section'>
  <div class='blog-img'>
    {
      post.frontmatter.image && (
        <a href={post.url}>
          <Image
            src={images[post.frontmatter.image.url]()}
            alt={post.frontmatter.image.alt}
            width={450}
            loading={index === 0 ? 'eager' : 'lazy'}
          />
        </a>
      )
    }
  </div>
  <div class='blog-text'>
    <div class='blog-details'>
      <div class='blog-date-icon'>
        <Icon name='calendar' size={24} />
      </div>
      <div class='blog-date'>
        {post.frontmatter.pubDate.toString().slice(0, 10)}
      </div>
    </div>
    <div class='blog-title'>
      <a href={post.url}>
        {post.frontmatter.title}
      </a>
    </div>
    <div class='blog-description'>{post.frontmatter.description}</div>
    <div class='tags'>
      {
        post.frontmatter.tags.map((tag) => (
          <a href={`/tags/${tag}`} class='tag-button'>
            {tag}
          </a>
        ))
      }
    </div>
  </div>
</li>
