---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
import scheduleIcon from '../assets/icons8-schedule-50.png'

const { url, title, image, description, pubDate, tags } = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif}'
)
if (!images[image.url])
  throw new Error(
    `"${image.url}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  )
---

<li class='blog-section'>
  <div class='blog-img'>
    {
      image && (
        <a href={url}>
          <Image src={images[image.url]()} alt={image.alt} width={450} />
        </a>
      )
    }
  </div>
  <div class='blog-text'>
    <div class='blog-details'>
      <div class='blog-date-icon'>
        <Image class='blog-icon' src={scheduleIcon} alt='Schedule icon' />
      </div>
      <div class='blog-date'>{pubDate.toString().slice(0, 10)}</div>
    </div>
    <div class='blog-title'>
      <a href={url}>
        {title}
      </a>
    </div>
    <div class='blog-description'>{description}</div>
    <div class='tags'>
      {
        tags.map((tag) => (
          <a href={`/tags/${tag}`} class='tag-button'>
            {tag}
          </a>
        ))
      }
    </div>
  </div>
</li>
