---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props
const imgLink = `${Astro.site.origin}/open-graph/${frontmatter.slug}.png` || ''
---

<BaseLayout
  title={`${frontmatter.title}`}
  description={frontmatter.description}
  imgLink={imgLink}
>
  <article>
    <slot />
    <div class='flex-container'>
      <a href='/kontakt/' class='button'>Napisz do nas</a>
    </div>
  </article>
</BaseLayout>

<style>
  .button {
    margin-top: 50px;
  }
</style>
